<div>
  <!-- //header -->
  <div>
    <header class="p-3 mb-3 border-bottom">
      <div class="d-flex">
        <div class="d-flex flex-wrap align-items-center">
          <img src="/assets/Hsk.JPG" alt="Italian Trulli">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <div class="d-flex">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
              <button class="btn btn-outline-primary" type="submit"><i class="fa fa-search"
                  aria-hidden="true"></i></button>
            </div>
          </form>
          <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <small class="nav-link px-2 link-secondary txt">Production</small>
            <small class="nav-link px-2 link-dark">Dying</small>
            <small class="nav-link px-2 link-dark">Recipes</small>
            <small class="nav-link px-2 link-dark">Cow</small>
          </div>
        </div>
        <div class="m-right">
          <img src="/assets/Hsk1.JPG" alt="Italian Trulli">
        </div>
      </div>
    </header>
  </div>
  <!-- //MainDiv -->
  <div class="h-vh bg">
    <div class="d-flex ">
      <div class="w-25">
        <div class="bd">
          <div class="shadow bg-c">
            <div class="d-flex justify-content-between">
              <div>
                <div class="d-flex">
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <div class="mb-2 mx-2">Farzan Mirza</div>
                </div>
                <div class="d-flex border-bottom pb-2">
                  <i class="font fa fa-bell" aria-hidden="true"></i>
                  <div class="mb-2 mx-2">Notifications</div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <div class="d-flex">
                <i class="fa fa-home" aria-hidden="true"></i>
                <small class="mx-2">Mirza internation added a new documents of Buffcow T1 Color Brown Invoice</small>
              </div>
            </div>

            <div class="d-flex justify-content-between m-1">
              <div class="d-flex">
                <div><i class="fa fa-universal-access" aria-hidden="true"></i></div>
                <div>
                  <small class="mx-2">Mirza internation added a new documents of Buffcow T1 Color</small>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-between m-1 border-bottom pb-2">
              <div class="d-flex">
                <div><i class="fa fa-cogs" aria-hidden="true"></i></div>
                <div>
                  <small class="mx-2">Mirza internation added a new </small>
                </div>
              </div>
            </div>

            <div>
              <div class="d-flex">
                <i class="fa fa-home" aria-hidden="true"></i>
                <div class="mx-2">Home</div>
              </div>
              <div class="d-flex my-3 border-bottom">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <div class="mx-2">Production</div>
              </div>
              <div>
                <div class="my-2">Dying</div>
                <div class="my-2">Finishing</div>
                <div class="my-2">Crusting</div>
              </div>
              <div>
                <div class="d-flex">
                  <div class="fs-1"><i class="fa fa-sticky-note-o" aria-hidden="true"></i></div>
                  <div>
                    <h4 class="mx-2">Reports</h4>
                  </div>
                </div>
                <div class="d-flex my-2">
                  <i class="fa fa-male" aria-hidden="true"></i>
                  <div>
                    <h4 class="mx-2">Planning</h4>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="fs-1"><i class="fa fa-inr" aria-hidden="true"></i>
                  </div>
                  <div>
                    <h4 class="mx-2">Finance</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- //Sidebar closed -->
      <div class="d-flex bg-color sidebar mr mb-1 mt-2">
        <div class="width p-3">
          <div class="bg-c">
            <h4 class="color">Tasks</h4>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Daily</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Monthly</a>
              </li>
            </ul>
          </div>
          <div class="h-50 shadow-none mt-2 p-3 mb-5 bg-light rounded">
            <div>
              <div></div>
            </div>
          </div>
          <div class="h-25 bg-light rounded">
            <div></div>
          </div>
        </div>
        <div class="width h-100 mr">
          <div class="h-50 shadow-none pb-3">
            <div class="bg-light rounded h-100">
              <div class="bg-c">
                <h1 class="color">Tasks</h1>
              </div>
              <div>

              </div>
            </div>
          </div>
          <div class="h-50 bg-light rounded">
            <div class="bg-c">
              <h1 class="color">Efficiency</h1>
            </div>
            <div>div2</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- //Footer -->
  <div class="text-center text-primary h-50px">
    <div>Innovated by Farzan Mirza</div>
  </div>
</div>
